{
    "swagger": "2.0",
    "info": {
        "description": "This is the full API of the Nucleus Management component.\nThis API contains common models, data and information to be used to manage any Gataca Component.",
        "title": "Gataca Nucleus API",
        "contact": {
            "name": "Gataca",
            "url": "https://gataca.io",
            "email": "it@gataca.io"
        },
        "version": "1.1.4"
    },
    "host": "nucleus.gataca.io",
    "paths": {
        "/admin/v1/api_keys": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Retrieve all the loggable entities (Admin ApiKeys and Applications) that can be managed by the logged in Administrator.\nThis API is not necessary for integration. ApiKeys can be managed through Gataca Admin Portal.\nQuery params allowed: did, ssiConfig.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Api-Keys"
                ],
                "summary": "Get all the managed Admin ApiKeys and Applications. This endpoint is paginated and has filters.",
                "responses": {
                    "200": {
                        "description": "List of api_keys managed by the requester.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.ApiKey"
                            }
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Create a new ApiKey using a previously obtained registration token.\nThis API is not necessary for integration. ApiKeys can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Api-Keys"
                ],
                "summary": "Sign Up a new ApiKey.",
                "parameters": [
                    {
                        "description": "ApiKey",
                        "name": "apiKey",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ApiKey"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Admin apiKeys correctly created.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        },
                        "headers": {
                            "Token": {
                                "type": "string",
                                "description": "Access token for the new created apiKey"
                            },
                            "Token_type": {
                                "type": "string",
                                "description": "JWT"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid apiKey data.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid registration token",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/api_keys/login": {
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Login for aplications using an API_KEY with Basic Auth",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Api-Keys"
                ],
                "summary": "Basic Admin Login with Api_Key_id:Api_Key",
                "parameters": [
                    {
                        "type": "string",
                        "description": "SSI Config to login",
                        "name": "tenant",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Login Succesful",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        },
                        "headers": {
                            "Token": {
                                "type": "string",
                                "description": "ApiKey Token"
                            },
                            "Token_type": {
                                "type": "string",
                                "description": "JWT"
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/api_keys/{id}": {
            "put": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Update the data of a given Admin apiKey or Application to change his login, roles or tenants.\nThis API is not necessary for integration. ApiKeys can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Api-Keys"
                ],
                "summary": "Update an Admin ApiKey or an Application",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ApiKey Id",
                        "name": "apiKeyID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "ApiKey Data",
                        "name": "newApiKeyData",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ApiKey"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ApiKey updated",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid apiKey data",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid authorization to update that apiKey",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Delete all the data of a given Admin apiKey or Application making him unable to login again.\nThis API is not necessary for integration. ApiKeys can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Api-Keys"
                ],
                "summary": "Delete an Admin ApiKey or an Application",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ApiKey Id",
                        "name": "apiKeyID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ApiKey deleted",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid apiKey data",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to delete that ApiKey or Application",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/api_keys/{id}/password": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Update the password of the logged ApiKey (if his an admin) by proving the knowledge of the existent one, or change the password of any managed application by an Administrator.\nThis API is not necessary for integration. ApiKeys can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Api-Keys"
                ],
                "summary": "Update the password of an Admin ApiKey or Application",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ApiKey Id",
                        "name": "apiKeyID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Password updated",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid apiKey data",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid authorization to manage that apiKey",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/auth": {
            "get": {
                "description": "Check if you are authenticated and get the current authentication info\nThis API is not necessary for integration.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Check the information about the currently authenticated user",
                "responses": {
                    "200": {
                        "description": "Authentication Data",
                        "schema": {
                            "$ref": "#/definitions/models.TokenClaims"
                        }
                    },
                    "403": {
                        "description": "User not authenticated",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    }
                }
            }
        },
        "/admin/v1/catalog": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Retrieve the merge of the public and private catalogs for all catalog\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Catalog"
                ],
                "summary": "Retrieve the status of full Catalog",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.FullCatalog"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing Catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to obtain the catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing Catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/catalog/{key}": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Retrieve the merge of the public and private catalogs for one specific catalog\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Catalog"
                ],
                "summary": "Retrieve the status of a single Catalogs",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Catalog Id",
                        "name": "key",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Merged private and public Catalogs in case",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing Catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to obtain the catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing Catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/keys": {
            "get": {
                "description": "Retrieve the JSON representation of all the keys that can be used for signing the tokens issued by the component",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Retrieve all present Json Web Keys",
                "responses": {
                    "200": {
                        "description": "All Json Web Keys",
                        "schema": {
                            "$ref": "#/definitions/models.JWKeySet"
                        }
                    },
                    "404": {
                        "description": "No keys found",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error retrieving the keys. Possible misconfiguration.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/keys/{keyid}": {
            "get": {
                "description": "Retrieve the JSON representation of all the keys that can be used for signing the tokens issued by the component",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Retrieve all present Json Web Keys",
                "parameters": [
                    {
                        "type": "string",
                        "description": "JWK Id",
                        "name": "keyid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DID Configuration Modified",
                        "schema": {}
                    },
                    "404": {
                        "description": "Non existing Keyid",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error retrieving the Key. Possible missconfiguration",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/login/gataca": {
            "post": {
                "description": "Validate the second step of the Gataca login process and obtain a valid access Token\nThis API is not necessary for integration. Access can be managed on the Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Finish the GatacaLogin process",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session Id",
                        "name": "session_id",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Session Id",
                        "name": "connect_token",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User Tenant to Login",
                        "name": "tenant",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authentication succesfull for this user",
                        "schema": {
                            "$ref": "#/definitions/controller.GatacaLoginResponse"
                        },
                        "headers": {
                            "Token": {
                                "type": "string",
                                "description": "Admin Access Token"
                            },
                            "Token_Type": {
                                "type": "string",
                                "description": "JWT"
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid authentication.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "428": {
                        "description": "Authentication still in process.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/login/request": {
            "get": {
                "description": "Admin Users can access using Gataca Login. That login process is performed in two-steps, where you have first to request a login session and then validate it.\nThis API is not necessary for integration. Access can be managed on the Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Start a new GatacaLogin process",
                "responses": {
                    "200": {
                        "description": "Requested Session generated",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        },
                        "headers": {
                            "connect_token": {
                                "type": "string",
                                "description": "Ciphered connect Token"
                            },
                            "session_id": {
                                "type": "string",
                                "description": "Session Id"
                            }
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/private/catalog": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Retrieve just the private catalogs for all catalogs\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Catalog"
                ],
                "summary": "Retrieve the status of full private Catalog",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.FullCatalog"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing Catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to obtain the catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing Catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/private/catalog/{key}": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Retrieve just the private catalogs for one specific catalog\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Catalog"
                ],
                "summary": "Retrieve the status of your private version of a single Catalog",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Catalog Id",
                        "name": "key",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Merged private and public Catalogs in case",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing Catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to obtain the catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing Catalog.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/providers": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "This API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Providers"
                ],
                "summary": "Retrieve the list of all existing providers",
                "responses": {
                    "200": {
                        "description": "Names of all the providers",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing providers.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to obtain the tenanst.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing providers.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/roles": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Recover all the roles in the tenant.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Roles"
                ],
                "summary": "Get all custom roles in tenant.",
                "responses": {
                    "200": {
                        "description": "Role for the tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid role data.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid registration token",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Check if a role with the same id already exist, if not created it.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Roles"
                ],
                "summary": "Register a new custom role.",
                "parameters": [
                    {
                        "description": "Role",
                        "name": "role",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/permissions.Role"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Custom role correctly created.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid role data.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid registration token",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/roles/:id": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Check if a role with the same id exist.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Roles"
                ],
                "summary": "Get a new custom role.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Role ID",
                        "name": "roleId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Role for the Id.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid role data.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid registration token",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Check if a role with the same id already exist and updates it.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Roles"
                ],
                "summary": "Update an existing custom role.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Role Id",
                        "name": "roleId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Role",
                        "name": "role",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/permissions.Role"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Custom role correctly updated.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid role data.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid registration token",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Check if a role exists, and delete it.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Roles"
                ],
                "summary": "Delete a custom role.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Role ID",
                        "name": "roleId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Custom role correctly deleted.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid role data.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid registration token",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/roles/scopes": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Recover all the valid scopes for the current user requesting it.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Roles"
                ],
                "summary": "Get all valid scopes.",
                "responses": {
                    "200": {
                        "description": "Scopes for the user.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid role data.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid registration token",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Retrieve all the current configurations\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Get all the current setups. This endpoints allows pagination.",
                "responses": {
                    "200": {
                        "description": "Current configurations.",
                        "schema": {
                            "$ref": "#/definitions/controller.SetupResponse"
                        }
                    },
                    "206": {
                        "description": "VM Configurations only.",
                        "schema": {
                            "$ref": "#/definitions/controller.SetupResponse"
                        }
                    },
                    "500": {
                        "description": "Serverside error checking the application. Possible misconfiguration.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "503": {
                        "description": "Application not initialized.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Modify the current setup of the application.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Update the current Setup",
                "parameters": [
                    {
                        "description": "Application Configuration",
                        "name": "Setup",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.SetupRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Generated DID Document",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid configuration",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid authorization to manage configurations.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error generating the DID. Possible invalid registration token.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/auto": {
            "post": {
                "description": "Create a new Setup with autogenerated keys. Keys will be stored on the database.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.\nOnly tenant and backbone token are mandatory.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Automatically generate a new Setup",
                "parameters": [
                    {
                        "description": "AutoSetupRequest",
                        "name": "AutoConfig",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/controller.DidRequest"
                        }
                    },
                    {
                        "type": "string",
                        "description": "Registration token for the DID",
                        "name": "backbone_token",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Application Setup automatically",
                        "schema": {
                            "$ref": "#/definitions/models.DIDDocument"
                        }
                    },
                    "400": {
                        "description": "Invalid setup request",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error generating the DID. Possible invalid registration token.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/auto/login": {
            "post": {
                "description": "This API is not necessary for integration. Users can be managed through Gataca Admin Portal.\nOnly tenant and backbone token are mandatory.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Automatically generate a config for connect config",
                "parameters": [
                    {
                        "description": "AutoLogin Setup request",
                        "name": "AutoLoginConfig",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/controller.DidRequest"
                        }
                    },
                    {
                        "type": "string",
                        "description": "Registration token for the DID",
                        "name": "backbone_token",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Application Login Setup automatically",
                        "schema": {
                            "$ref": "#/definitions/models.DIDDocument"
                        }
                    },
                    "400": {
                        "description": "Invalid setup request",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error generating the DID. Possible invalid registration token.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/did": {
            "post": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Create a new DID configuration and register the DID document and the new did will be enrolled with the license + tenant.\nIf the app hasn't been initialized yet, no authentication is required.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Create and register a new DID",
                "parameters": [
                    {
                        "description": "DID Configuration",
                        "name": "alias",
                        "in": "body",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "type": "string",
                        "description": "Registration token for the DID",
                        "name": "backbone_token",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Generated DID Document",
                        "schema": {
                            "$ref": "#/definitions/models.DIDDocument"
                        }
                    },
                    "400": {
                        "description": "Invalid configuration",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid authorization to manage DIDs.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error generating the DID. Possible invalid registration token.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/did/{did}": {
            "put": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Update a configuration associated to an existing DID. This does not modify the registered DID Document.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Update an existing DID Config",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Config Id",
                        "name": "did",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "DID Configuration",
                        "name": "DIDConfig",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.DidConfig"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DID Configuration Modified",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid configuration",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid authorization to manage DIDs.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error generating the DID. Possible invalid registration token.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Delete and revoke an existing DID. This makes the did not reusable anymore.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Remove an existing DID Config",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Config Id",
                        "name": "did",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DID Deleted",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid configuration",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid authorization to manage DIDs.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error generating the DID. Possible invalid registration token.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/eos/:did": {
            "post": {
                "description": "This endpoints allows to set a did as an ebsi eos, or swap the actual value for new one provided on the request.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Swap the did configured as ebsi eos.",
                "responses": {
                    "200": {
                        "description": "Did swapped",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    },
                    "404": {
                        "description": "not found.",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    },
                    "409": {
                        "description": "conflict",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/init": {
            "post": {
                "description": "Generate a first setup only if the application has never been initialized before. Configuration can be specifically specified.\nThe specified DID must have been previously created.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Create a first Setup Configuration",
                "parameters": [
                    {
                        "description": "Application Configuration",
                        "name": "Setup",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.SetupRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Application Configured",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid configuration",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    },
                    "403": {
                        "description": "Application already initialized: not authorized to reinitialize it",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    },
                    "500": {
                        "description": "Serverside error generating the DID. Possible invalid registration token.",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/keys": {
            "get": {
                "description": "Tool to generate an ED25519 Keypair\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Generate a keypair",
                "responses": {
                    "200": {
                        "description": "PublicKey and SecretKey base58 encoded.",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Serverside error generating the keys the application.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/secret": {
            "get": {
                "description": "Tool to create a secret for symmetric encryption\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Generate a secret",
                "responses": {
                    "200": {
                        "description": "Secret",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/admin/v1/setup/status": {
            "get": {
                "description": "Check if the application has been initialized and is ready to be used.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Setup"
                ],
                "summary": "Check the status of the current setup.",
                "responses": {
                    "200": {
                        "description": "Application initialized.",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    },
                    "503": {
                        "description": "Application not initialized.",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    }
                }
            }
        },
        "/admin/v1/tenants": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "This API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tenants"
                ],
                "summary": "Retrieve the list of all existing tenants",
                "responses": {
                    "200": {
                        "description": "Names of all the tenants",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing tenants.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to obtain the tenanst.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing tenants.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Create a new tenant with empty data.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tenants"
                ],
                "summary": "Create a new tenant.",
                "parameters": [
                    {
                        "description": "New tenant data",
                        "name": "tenant",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Tenant"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant data",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Tenant"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to modify the tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/tenants/{id}": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "This API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tenants"
                ],
                "summary": "Retrieve the information of a given tenant",
                "parameters": [
                    {
                        "type": "string",
                        "description": "tenant Id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant information",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Tenant"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to obtain the tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Delete a Tenant and all information related to it.\nThis deletes users, applications, sessions, dids, configurations and all the information related.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tenants"
                ],
                "summary": "Remove an existing tenant.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "tenant Id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant deleted correctly",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.ResponseMessage"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to modify the tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Modify the contents of a given Tenant.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Tenants"
                ],
                "summary": "Modify a tenant.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "tenant Id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "New tenant data",
                        "name": "tenant",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.Tenant"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant data updated",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Tenant"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or non-existing tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Unauthorized to modify the tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "404": {
                        "description": "Invalid or non-existing tenant.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/users": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Retrieve all the loggable entities (Admin Users and Applications) that can be managed by the logged in Administrator.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Get all the managed Admin Users and Applications.",
                "responses": {
                    "200": {
                        "description": "List of users managed by the requester.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.User"
                            }
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Create a new Admin User or an Application using a previously obtained registration token.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Sign Up a new Admin User or Application.",
                "parameters": [
                    {
                        "description": "User",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.User"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Admin users correctly created.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        },
                        "headers": {
                            "Token": {
                                "type": "string",
                                "description": "Access token for the new created user"
                            },
                            "Token_type": {
                                "type": "string",
                                "description": "JWT"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid user data.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid registration token",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/users/login": {
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Login for admin users with Basic Auth\nThis API is not necessary for integration. Access can be managed on the Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Basic Admin Login with User:Password",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User Tenant to login",
                        "name": "tenant",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Login Succesful",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        },
                        "headers": {
                            "Token": {
                                "type": "string",
                                "description": "Admin User Token"
                            },
                            "Token_type": {
                                "type": "string",
                                "description": "JWT"
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/users/login/switch": {
            "post": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Endpoint to switch the tenant of the current session for the new one provided.\nThis API is not necessary for integration.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Switch tenant for the current user loged.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User Tenant to switch",
                        "name": "tenant",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Switch Succesful",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        },
                        "headers": {
                            "Token": {
                                "type": "string",
                                "description": "Admin User Token"
                            },
                            "Token_type": {
                                "type": "string",
                                "description": "JWT"
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/users/logout": {
            "delete": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Logout for admin users with their authentication\nThis API is not necessary for integration. Access can be managed on the Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Logout from session",
                "responses": {
                    "200": {
                        "description": "Logout Successful",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid credentials",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/users/register": {
            "post": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "In order to signup a new Admin User or an Application, a token must be first obtained.\nThe token will indicate his roles and tenants, so that the User himself can set up freely the rest of his data upon Registration\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Obtain a signup token for an Admin User or an Appplication",
                "parameters": [
                    {
                        "description": "Tenant for the new user",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token succesfully generated",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        },
                        "headers": {
                            "Token": {
                                "type": "string",
                                "description": "Registration token for the new user"
                            },
                            "Token_type": {
                                "type": "string",
                                "description": "JWT"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid requested user data",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid authorization to signup other users",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/admin/v1/users/status": {
            "get": {
                "description": "Check if there are registered users in order to create a first one or not.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Check the status of the current Admin Users.",
                "responses": {
                    "200": {
                        "description": "Admin users correctly initialized.",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        }
                    },
                    "503": {
                        "description": "No Admin users initialized",
                        "schema": {
                            "$ref": "#/definitions/github_com_gataca-io_nucleus_apps_admin_controller.StatusResponse"
                        },
                        "headers": {
                            "Token": {
                                "type": "string",
                                "description": "Registration token to create the first admin User"
                            },
                            "Token_type": {
                                "type": "string",
                                "description": "JWT"
                            }
                        }
                    }
                }
            }
        },
        "/admin/v1/users/{id}": {
            "get": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "This API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Get the requested user data.",
                "responses": {
                    "200": {
                        "description": "Requested user",
                        "schema": {
                            "$ref": "#/definitions/models.User"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request.",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "Token": []
                    }
                ],
                "description": "Update the data of a given Admin user or Application to change his login, roles or tenants.\nThis API is not necessary for integration. Users can be managed through Gataca Admin Portal.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Update an Admin User or an Application",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User Id",
                        "name": "userID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "User Data",
                        "name": "newUserData",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User updated",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Invalid user data",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Invalid authorization to update that user",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
                        }
                    },
                    "500": {
                        "description": "Serverside error processing the request",
                        "schema": {
                            "$ref": "#/definitions/models.ResponseMessage"
[...]
